layout {
  tab {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane {
      command "nvim"
      args "src/pages/index.tsx"
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }

  }
  tab {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane split_direction="vertical" {
      pane size="40%"
      pane split_direction="horizontal" {
        pane  {
          command "npx" 
          args "prisma" "studio" "-b" "none"
          start_suspended true
          size "20%"
        }
        pane  {
          command "npm"
          args "run" "dev"
          start_suspended true
        }
      }
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
