@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --t-yellow: 45.5 100% 50%;
    --background: 0 100% 0%;
    --foreground: 220 13% 91%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 218 10.6% 64.9%; 

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 0 0% 0%;
    --primary-foreground: 210 40% 98%;

    --secondary: 45 93.4% 47.5%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 45 93.4% 47.5%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer base {
  html {
    font-family: Poppins, Proxima Nova, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    /* -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1); */
    text-shadow: #000 0px 1px 1px !important;
  }
}

.roboto {
  font-family: Roboto, Proxima Nova, system-ui, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.rdp-vhidden {
  @apply hidden;
}

.text-xxs {
  font-size: 0.625rem;
  letter-spacing: -0.05em;
}

.text-5xxl {
  font-size: 3.225rem;
}

.text-3xxl {
  font-size: 1.945rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: -0.09em;
}

.shadow-me {
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.2);
}

.rainbow {
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-layout {
  min-height: -webkit-fill-available;
  min-height: 100vh;
}
